PDF__Image_Process.json
{
  "name": "PDF /Image Process",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "faaffaa1-9e64-4821-a0c2-bc3e6c0f9b07",
      "name": "Telegram Trigger",
      "webhookId": "86313bec-853f-43e4-aa0f-97e2ef422540",
      "credentials": {
        "telegramApi": {
          "id": "n3V4t7Tm3oit3Exr",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.caption }}",
        "options": {
          "systemMessage": "=You are a helpful assistant, named Jono, and your task is to handle\nintelligent document processing.\n\n##Tools\n1. Call the document_processing tool to handle any OCR for PDF document\nprocessing.\n2. Call the image_processsing tool to handle any OCR for image processing.\nWhen user calls this tool, please start it immediately. The image will be\npassed through an ID and processed on the sub-agent. No need to verify",
          "maxIterations": 10
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        312,
        0
      ],
      "id": "e3fd1dec-4afc-4419-bc30-6ecfa686af3d",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {
          "maxTokens": 1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        220,
        220
      ],
      "id": "018cd5ab-d0e4-4245-a664-645fd63b3cbb",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "fPTnkXPe4U4ls04c",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        340,
        220
      ],
      "id": "7beef3f3-5881-41ca-8a0d-3889c296770c",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        780,
        0
      ],
      "id": "1ac5117b-7587-4a08-a835-7981c0fe4578",
      "name": "Telegram",
      "webhookId": "d8e9d4d7-ef54-44d2-8c2a-77fec09764ff",
      "credentials": {
        "telegramApi": {
          "id": "n3V4t7Tm3oit3Exr",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "description": "Call this tool if the user is looking to process or extract data from a PDF document ",
        "workflowId": {
          "__rl": true,
          "value": "FJsNcULI8DVJh1gk",
          "mode": "list",
          "cachedResultName": "PDF Processing"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Telegram Trigger').item.json.message.document.file_id }}",
            "message": "={{ $('Telegram Trigger').item.json.message.caption }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        500,
        220
      ],
      "id": "ea781d6e-ca21-4edf-98b2-7095be35a5f8",
      "name": "PDF Processor"
    },
    {
      "parameters": {
        "description": "Call this tool when you're processing image via OCR ",
        "workflowId": {
          "__rl": true,
          "value": "xUhLGcU6GtlmNtfv",
          "mode": "list",
          "cachedResultName": "Image Processing 2"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Telegram Trigger').item.json.message.photo[0].file_id }}",
            "message": "={{ $('Telegram Trigger').item.json.message.caption }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        700,
        220
      ],
      "id": "1416f6e3-17f8-4330-9441-c013822285e3",
      "name": "Image Processing"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDF Processor": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Image Processing": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8f25bf45-938c-4bbd-b2d6-fee43b0aae2f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e13bce47d8c8cc65ba7af0951823a3f00038ffac3356230b605d7e2df48b2082"
  },
  "id": "4KK3m2qX7xQb7E76",
  "tags": []
}